YTA Origin.json
{
  "name": "YTA Origin",
  "nodes": [
    {
      "parameters": {
        "content": "## Chat Model & Output Parser",
        "height": 812,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1328,
        16
      ],
      "id": "9772d69e-9ce1-4e28-9199-d59c74d27c40",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Step 5 - Buat Video Akhir",
        "height": 260,
        "width": 712,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        864
      ],
      "id": "41e7b0ef-746b-4dff-96b7-9b42be05cc9c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Step 4 - Buat Audio",
        "height": 260,
        "width": 836,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        864
      ],
      "id": "ecefff03-aea3-45f5-bafe-54f4b0ca12a1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Step 3 - Buat Video",
        "height": 260,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        576
      ],
      "id": "adb8197a-4820-4882-be54-90e2995edb41",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Step 2 - Buat Gambar",
        "height": 260,
        "width": 1280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "id": "6c47cd89-7d6e-4615-b677-949cd37e780a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Step 1 - Buat Prompt",
        "height": 260,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "935b2187-627c-43e0-a394-4736e8b31933",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# TITLE GENERATOR\n",
        "height": 260,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1136
      ],
      "id": "7d9a104c-9190-49be-b619-f6aa2dbb7afb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1392,
        480
      ],
      "id": "914190b5-3c9a-47c8-bc19-3f0f5127c736",
      "name": "GPT 4.1"
    },
    {
      "parameters": {
        "content": "# YouTube\n",
        "height": 260,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        1136
      ],
      "id": "f3c6d129-0c81-4f45-97ab-f123c90a11f5",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9113c83-7b43-4dbe-830f-18a814c3f1f7",
              "leftValue": "={{ $input.all().filter(item => item.json.status === \"IN_PROGRESS\" || item.json.status === \"IN_QUEUE\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        384
      ],
      "id": "12a6c96d-df01-4c10-af1b-f2626dd23f50",
      "name": "Images Done?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9113c83-7b43-4dbe-830f-18a814c3f1f7",
              "leftValue": "={{ $input.all().filter(item => item.json.status === \"IN_PROGRESS\" || item.json.status === \"IN_QUEUE\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        672
      ],
      "id": "3639bbcb-0602-4209-8033-b48ffac8a99f",
      "name": "Videos Done?"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/bytedance/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        624
      ],
      "id": "269f61c8-f2d0-414f-8ce7-b4c9368b7915",
      "name": "Get Videos",
      "notes": "revised by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/bytedance/requests/{{ $('Generate Videos').item.json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        672
      ],
      "id": "6f6c0145-86fd-4a6d-a0ef-d97e06bd51c8",
      "name": "Get Video Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/bytedance/seedance/v1/lite/image-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('Prompt Generator').item.json.output.video_prompt }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json.images[0].url }}"
            },
            {
              "name": "resolution",
              "value": "720p"
            },
            {
              "name": "duration",
              "value": "5"
            },
            {
              "name": "aspect_ratio",
              "value": "9:16"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        672
      ],
      "id": "e8564fb1-9b9c-4e29-a420-7890c5d97d53",
      "name": "Generate Videos",
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        304
      ],
      "id": "22e0586d-7182-4403-be24-4d12be2baaa5",
      "name": "Get Images"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        384
      ],
      "id": "31162b4e-9f5e-4e68-8942-e347f30bf9aa",
      "name": "Get Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output.image_prompt }}"
            },
            {
              "name": "aspect_ratio",
              "value": "9:16"
            },
            {
              "name": "num_images",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        384
      ],
      "id": "c898ca93-4d1c-4530-8d70-a1e43f2adffa",
      "name": "Generate Images",
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"brand\": \"[Brand Name]\",\n  \"image_prompt\": \"[Detailed visual description]\",\n  \"video_prompt\": \"[5-second cinematic loop prompt]\",\n  \"audio_prompt\": \"[Immersive, brand-aligned music description]\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1392,
        144
      ],
      "id": "94a91ea9-4bb8-4903-91fc-efe8a0bf9a93",
      "name": "Prompts"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Brands",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        80
      ],
      "id": "c39f8b1c-5a09-40ce-a0fa-1044a602330d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62154da3-9df0-474a-86b0-87c687bbbb7a",
              "name": "Brands",
              "value": "=[\"{{ $json['Brand 1'] }}\",\"{{ $json['Brand 2'] }}\",\"{{ $json['Brand 3'] }}\",\"{{ $json['Brand 4'] }}\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        80
      ],
      "id": "81fa14e6-59bc-41b3-9e2c-760a4a46a12d",
      "name": "Set Brands"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get Story').item.json.Category }} Brand: {{ $json.Brands }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# System Prompt: Reimagine Famous Brands as Tiny, Visually Satisfying Buildings\n\n## Overview\n\nYou are a **multimodal creative AI** that transforms **famous brands into tiny, hyper-realistic, visually satisfying digital resources**.\n\nYou will be given the name of a well-known brand. Your job is to output:\n\n1. A **highly detailed image prompt** that describes a **miniature architectural structure** inspired by the brand. The building should be **hyper-realistic**, include **tiny people**, and have a **satisfying, well-composed scene**.\n\n   - The shape of the building must be a **distinct, exaggerated form tied directly to the brand** — such as its most iconic **product**, **logo**, or **symbol**.\n   - The building must be clearly recognizable as a **functioning structure**, with **windows, a door, or visible interior space**.\n   - There should always be **tiny people** in or around it to show scale and life.\n\n2. A **cinematic video prompt** describing a **5-second loopable animation** where the building is the clear focal point. The scene should feature:\n   - A mostly still or gently rotating camera\n   - Dynamic motion from **tiny characters**, **machinery**, or **environmental elements** like steam, lights, or swaying plants\n   - A sense of cozy immersion and satisfying movement\n\n3. An **immersive audio prompt** that complements the video. This should be:\n   - Music only (no sound effects or voices)\n   - Deeply aligned with the brand’s **vibe and culture**\n   - Designed to feel **soothing, ambient, lo-fi, or emotionally satisfying**\n\nIt is **critical** that the brand is **immediately recognizable** from the visual. That means the **logo**, **brand colors**, or **product forms** must be prominently integrated into the building design. The entire experience should feel **visually rich, emotionally cozy, and creatively delightful**.\n\n---\n\n## Output Format\n\nFor each brand, respond with:\n\n- **Image Prompt:**  \n- **Video Prompt:**  \n- **Audio Prompt:**  \n\n---\n\n## Example Output (Brand: Nike)\n\n**Image Prompt:**  \nA hyperrealistic tiny building shaped like a Nike Air Max sneaker, converted into a miniature sports center. The giant shoe structure has glowing mesh windows on the sides and a working front door embedded in the tongue. A massive white swoosh glows on both sides of the building. Miniature people in athletic wear jog on a looped path that circles the building, while others stretch on yoga mats on a rooftop patio. Stacks of Nike shoeboxes are used as seating and signage around the structure.\n\n**Video Prompt:**  \nA slow 5-second cinematic pan from right to left at sunset. Tiny joggers move rhythmically on the looping track while others pass in and out of the glowing doorway. Steam gently rises from rooftop vents, the swoosh lights pulse softly, and trees rustle in the background. The scene feels active yet serene.\n\n**Audio Prompt:**  \nA chill, motivational lo-fi beat featuring layered synths, soft hi-hats, and deep ambient bass. The rhythm is smooth and repetitive, giving off a cool, athletic vibe like a soundtrack to an early morning workout.\n\n---\n\nEach scene you generate should be **hyper-recognizable, richly imaginative, and deeply satisfying.** The prompts must work together to create a miniature branded world that viewers will want to step into.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        928,
        80
      ],
      "id": "557fb244-326a-4feb-b9a3-8a40e878cea6",
      "name": "Prompt Generator"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ucWAhqkZ1pAiv9bYvrl-gG29xPBuUcHoZqEU7ZcYQUs",
          "mode": "list",
          "cachedResultName": "Database Ide YT Shorts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ucWAhqkZ1pAiv9bYvrl-gG29xPBuUcHoZqEU7ZcYQUs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ucWAhqkZ1pAiv9bYvrl-gG29xPBuUcHoZqEU7ZcYQUs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        368,
        80
      ],
      "id": "1913b22b-3417-4439-adcd-4971b9b50f0b",
      "name": "Get Story"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        144,
        80
      ],
      "id": "be6e4f9e-19b8-4770-8167-df02381143e1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        320
      ],
      "id": "267ef608-b39e-4800-bf56-0253797915a9",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "amount": 12
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        384
      ],
      "id": "2f47649e-04eb-43ca-aac5-284c835750ea",
      "name": "12 Detik",
      "webhookId": "ef6f7a5c-e558-47dc-9372-a406234e582f"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        400
      ],
      "id": "c87b5e32-2702-4b04-915c-008c12935f9e",
      "name": "3 Detik",
      "webhookId": "21c619fb-df30-46d5-a9b9-470a6e9d6376"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        672
      ],
      "id": "de408b65-f052-4d11-b17d-d6bcc024ba99",
      "name": "5 menit",
      "webhookId": "94ff3078-0e64-4705-b5fe-653730a02bf8"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        704
      ],
      "id": "6402b64a-d8b7-4bb8-b75d-453e025b6cea",
      "name": "20 Detik",
      "webhookId": "da8504c6-14d5-4f14-a226-097d3caddca5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/mmaudio-v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $json.video.url }}"
            },
            {
              "name": "prompt",
              "value": "={{ $('Prompt Generator').item.json.output.audio_prompt }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        944
      ],
      "id": "64ad59db-e1a3-4a8f-92a4-f9907f01346e",
      "name": "Create Sounds",
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        944
      ],
      "id": "56c9d081-961a-4311-9308-9799c5f978df",
      "name": "1.5 menit",
      "webhookId": "6fa7089d-e923-43f3-81ee-bb7b8b126e74"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/mmaudio-v2/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        880
      ],
      "id": "70e0aa0c-079f-45e4-af99-cd55c7c688c1",
      "name": "Get Sounds"
    },
    {
      "parameters": {
        "jsCode": "const urls = items.map(item => item.json.video.url);\n\nreturn [{\n  json: {\n    video_urls: urls\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        944
      ],
      "id": "760d4412-7550-4f8c-b9d3-964e4384a97e",
      "name": "List Vid Items",
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"tracks\": [\n    {\n      \"id\": \"1\",\n      \"type\": \"video\",\n      \"keyframes\": [\n        {\n          \"url\": \"{{ $json.video_urls[0] }}\",\n          \"timestamp\": 0,\n          \"duration\": 5\n        },\n        {\n          \"url\": \"{{ $json.video_urls[1] }}\",\n          \"timestamp\": 5,\n          \"duration\": 5\n        },\n        {\n          \"url\": \"{{ $json.video_urls[2] }}\",\n          \"timestamp\": 10,\n          \"duration\": 5\n        },\n        {\n          \"url\": \"{{ $json.video_urls[3] }}\",\n          \"timestamp\": 15,\n          \"duration\": 5\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        944
      ],
      "id": "b33c2517-0752-4696-becb-6fcb28e0c9a7",
      "name": "Sequence Video",
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        944
      ],
      "id": "da4a66e3-1d3a-4b75-a59d-72d754ddb01a",
      "name": "30 detik",
      "webhookId": "589eba3f-0a86-4154-b51b-a847c65f8deb"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        944
      ],
      "id": "c557f2cd-6f6f-4bcc-ae7d-03414a1a6bac",
      "name": "Get Final Video"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ucWAhqkZ1pAiv9bYvrl-gG29xPBuUcHoZqEU7ZcYQUs",
          "mode": "list",
          "cachedResultName": "Database Ide YT Shorts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ucWAhqkZ1pAiv9bYvrl-gG29xPBuUcHoZqEU7ZcYQUs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/118JW4ThxLbQkDxwbH85VM6Q58R1jsTgtd45FamtvzU4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Story').first().json.row_number }}",
            "Status": "Done",
            "URL": "={{ $('Get Final Video').first().json.video_url }}",
            "Prompt 1": "={{ $('Prompt Generator').first().json.output.image_prompt }}",
            "Prompt 2": "={{ $('Prompt Generator').all()[1].json.output.image_prompt }}",
            "Prompt 3": "={{ $('Prompt Generator').all()[2].json.output.image_prompt }}",
            "Prompt 4": "={{ $('Prompt Generator').all()[3].json.output.image_prompt }}",
            "Title": "={{ $json.message.content.Title }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brand 1",
              "displayName": "Brand 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand 2",
              "displayName": "Brand 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand 3",
              "displayName": "Brand 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand 4",
              "displayName": "Brand 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt 1",
              "displayName": "Prompt 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt 2",
              "displayName": "Prompt 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt 3",
              "displayName": "Prompt 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt 4",
              "displayName": "Prompt 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        1232
      ],
      "id": "24271ca4-5d77-4f1a-9872-5c546ae2eaec",
      "name": "Update Data"
    },
    {
      "parameters": {
        "url": "={{ $('Get Final Video').first().json.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        1232
      ],
      "id": "8c3960eb-0414-4e1c-b51c-ef15d0ec8fd0",
      "name": "Get MP4",
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "content": "# Step 6 - Simpan Hasilnya",
        "height": 260,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        1136
      ],
      "typeVersion": 1,
      "id": "7a1fe041-2daa-4966-802d-ed1fa7b94be5",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1392,
        656
      ],
      "id": "13e78323-12eb-46f9-8e8e-615ac977121c",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3-70b-8192",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI designed to generate 1 engaging video title and description for YouTube Shorts based on 1 main idea and 4 visual descriptions.\n\n**RULES:**\n\n1. Only return 1 title and 1 description at a time.\n2. The title must be under 100 characters and must be punchy, and viral-friendly.\n3. The description must be under 300 characters.\n4. Also add exactly 12 hashtags in this order:\n** 4 hashtags relevant to the baby animal idea\n** 4 all-time most popular hashtags\n** 4 most trending hashtags today (based on live research)\n5. All hashtags must be lowercase.\n\n**VISUAL DESCRIPTIONS**\nScene 1: {{ $('Prompt Generator').first().json.output.image_prompt }}\nScene 2: {{ $('Prompt Generator').all()[1].json.output.image_prompt }}\nScene 3: {{ $('Prompt Generator').all()[2].json.output.image_prompt }}\nScene 4: {{ $('Prompt Generator').all()[3].json.output.image_prompt }}\n\n**OUTPUT FORMAT (single-line JSON array):**\n\n[\n{\n\"Title\": \"Summarized viral video title\",\n\"Description\": \"Engaging description\",\n\"Hashtags\": \"#4_relevant_hashtags #4_relevant_hashtags #_all_time_popular_hashtags #4_trending_hashtags\"\n}\n]"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        160,
        1232
      ],
      "id": "2daaceb4-e0e2-4ff4-a161-798ab58745a3",
      "name": "Title Generator"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Title Generator').first().json.message.content.Title }}",
        "regionCode": "ID",
        "categoryId": "15",
        "options": {
          "description": "={{ $('Title Generator').first().json.message.content.Description }} {{ $('Title Generator').first().json.message.content.Hashtags }}",
          "privacyStatus": "private"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1104,
        1232
      ],
      "id": "133835fb-5844-4ce6-9891-6a47c4642b45",
      "name": "Upload a video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9113c83-7b43-4dbe-830f-18a814c3f1f7",
              "leftValue": "={{ $input.all().filter(item => item.json.status === \"IN_PROGRESS\" || item.json.status === \"IN_QUEUE\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        944
      ],
      "id": "62b9884a-d7bb-45aa-bab9-d407fa6abb25",
      "name": "Audio Done?1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        1008
      ],
      "id": "29af2049-6a8a-456e-a72c-c50c7296b200",
      "name": "20 Detik1",
      "webhookId": "bfcab83f-9124-4c7d-b7d1-dc642a08a1bb"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        944
      ],
      "id": "1e320d88-c97a-4c56-98fb-c934a8503847",
      "name": "Get Status1"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-08-11T11:39:15.897+09:00",
          "Readable date": "August 11th 2025, 11:39:15 am",
          "Readable time": "11:39:15 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "August",
          "Day of month": "11",
          "Hour": "11",
          "Minute": "39",
          "Second": "15",
          "Timezone": "Asia/Seoul (UTC+09:00)"
        }
      }
    ],
    "Get Story": [
      {
        "json": {
          "row_number": 9,
          "No": 8,
          "Category": "Convenience Stores",
          "Brand 1": "7-Eleven",
          "Brand 2": "Circle K",
          "Brand 3": "Wawa",
          "Brand 4": "Casey's",
          "Status": "To Do",
          "URL": "",
          "Title": "",
          "Prompt 1": "",
          "Prompt 2": "",
          "Prompt 3": "",
          "Prompt 4": ""
        }
      }
    ],
    "Set Brands": [
      {
        "json": {
          "Brands": [
            "7-Eleven",
            "Circle K",
            "Wawa",
            "Casey's"
          ]
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "Brands": "7-Eleven"
        }
      },
      {
        "json": {
          "Brands": "Circle K"
        }
      },
      {
        "json": {
          "Brands": "Wawa"
        }
      },
      {
        "json": {
          "Brands": "Casey's"
        }
      }
    ],
    "Prompt Generator": [
      {
        "json": {
          "output": {
            "brand": "7-Eleven",
            "image_prompt": "A hyperrealistic miniature building shaped like a 7-Eleven convenience store, with a curved red roof and white walls. The iconic '7-ELEVEN' marquee glows on the front, and a tiny Slurpee machine is visible in the window. Miniature people in puffer jackets and caps shop inside, while one uses the ATM near the door. A '24/7' neon sign pulses above the entrance, and shelves display tiny snacks and drinks. The store sits on a cobblestone path with a bench, and snow gently falls around it at night.",
            "video_prompt": "A 5-second loopable slow zoom into the 7-Eleven building as tiny customers enter and exit. The '24/7' neon glows brighter while a Slurpee machine dispenses swirling blue drinks. Snowflakes drift past the windows, and one customer lifts a tiny coffee cup to the camera. The camera gently pans left to reveal a tiny delivery van unloading goods in the background.",
            "audio_prompt": "A warm, ambient lo-fi track with soft chimes, distant chatter, and a subtle electronic hum. Light jingles mimic a cash register, blending with cozy background noise like a microwave beep and a Slurpee machine's buzz. The tempo is slow and calming, evoking late-night convenience and comfort."
          }
        }
      },
      {
        "json": {
          "output": {
            "brand": "Circle K",
            "image_prompt": "A hyperrealistic tiny building shaped like a giant red 'C' with a white stripe, forming a circular convenience store. The structure features glowing yellow windows inside the 'C' shape, revealing a fully functional mini-store with tiny shelves, coffee counters, and gas pumps outside. The front entrance is a small door at the base, and the iconic Circle K logo glows brightly on the roof. Miniature people in casual clothes browse inside, grab snacks, and fuel tiny cars at the pumps. Tiny shopping carts roll along the sidewalk.",
            "video_prompt": "A 5-second cinematic loop with a slow, gentle orbit around the building at golden hour. The camera starts at the gas pumps, pans over the glowing logo, and circles the store as miniature customers enter and exit. Inside, tiny lights flicker softly, and shelves glow with product labels. The scene feels active yet cozy, with warm lighting and subtle motion from people and cars.",
            "audio_prompt": "A soothing lo-fi track with warm acoustic guitar, soft vinyl crackle, and a steady, relaxed beat. Subtle jingles reminiscent of a cash register chime in the background, creating a comforting, nostalgic atmosphere that evokes late-night convenience and community."
          }
        }
      },
      {
        "json": {
          "output": {
            "brand": "Wawa",
            "image_prompt": "A hyperrealistic miniature convenience store shaped like a giant Wawa-branded hoagie sub, with crust-like red and white striped walls and glowing cheese-slice windows. The front door is a giant sandwich pocket, flanked by tiny Wawa cow logo signs. Inside, miniature customers grab coffee cups from a counter, while stacks of hoagie boxes line the shelves. Tiny people in Wawa uniforms chat outside, and a drive-thru window shaped like a cow's face serves cars parked on a winding road that loops around the building.",
            "video_prompt": "A 5-second looped animation with a slow 360-degree camera orbit. Tiny customers enter through the sandwich door, steam rises from a coffee machine inside, and cars pass through the drive-thru. The hoagie building's cheese-slice windows glow softly as the sun sets, casting warm light on the winding road. The Wawa cow logo on the roof spins slowly like a windmill.",
            "audio_prompt": "A warm, ambient lo-fi track with gentle acoustic guitar, soft café chatter, and subtle espresso machine sounds. The melody is cozy and inviting, with light percussion that mimics the rhythm of people walking into a store. Occasional cowbell chimes and distant hoagie slices sizzling on a grill add playful brand-specific audio textures."
          }
        }
      },
      {
        "json": {
          "output": {
            "brand": "Casey's",
            "image_prompt": "A hyperrealistic miniature building shaped like a giant Casey’s gas pump, reimagined as a cozy convenience store. The red and white Casey’s logo glows on the side of the structure, with tiny customers in puffer jackets and hats entering through a small front door. The gas pump nozzle at the top dispenses tiny cans of Casey’s popular ‘Candy Bar of the Month’ and energy drinks. Through the glass windows, miniature shelves line the interior, stocked with candy, chips, and coffee. A small rooftop sign reads ‘Where Friends Meet’ in Casey’s branding. Tiny people chat at a mini picnic table outside, while a Casey’s mascot (a stylized cow) is carved into the brick wall.",
            "video_prompt": "A 5-second cinematic loop with a gently rotating camera around the building at dusk. Tiny people move in and out of the doorway in a rhythmic flow, while the gas pump nozzle rotates slowly, dispensing snacks. LED lights on the Casey’s logo pulse softly in sync with the camera motion. A small sign above the doorway flickers to life, and leaves on nearby trees sway subtly in the breeze. The scene feels active, welcoming, and slightly whimsical.",
            "audio_prompt": "A warm, ambient lo-fi track with soft acoustic guitar strums, faint keyboard melodies, and a steady, comforting hum of a refrigerator. The beat is light and bouncy, with a cozy, late-afternoon vibe—like the soundtrack to a drive-thru stop for coffee and snacks."
          }
        }
      }
    ],
    "Generate Images": [
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "25a37f51-9f3b-4225-a3f0-2f2441358529",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/25a37f51-9f3b-4225-a3f0-2f2441358529",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/25a37f51-9f3b-4225-a3f0-2f2441358529/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/25a37f51-9f3b-4225-a3f0-2f2441358529/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "631ea56a-41b2-4648-91a6-c370ee3229c6",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/631ea56a-41b2-4648-91a6-c370ee3229c6",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/631ea56a-41b2-4648-91a6-c370ee3229c6/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/631ea56a-41b2-4648-91a6-c370ee3229c6/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "f19a4809-072a-44a8-960c-5e9fbbe9780a",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/f19a4809-072a-44a8-960c-5e9fbbe9780a",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/f19a4809-072a-44a8-960c-5e9fbbe9780a/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/f19a4809-072a-44a8-960c-5e9fbbe9780a/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 2
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "48e4684c-f410-403f-919f-1b6089fdaa8b",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/48e4684c-f410-403f-919f-1b6089fdaa8b",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/48e4684c-f410-403f-919f-1b6089fdaa8b/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/48e4684c-f410-403f-919f-1b6089fdaa8b/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 2
        }
      }
    ],
    "12 Detik": [
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "25a37f51-9f3b-4225-a3f0-2f2441358529",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/25a37f51-9f3b-4225-a3f0-2f2441358529",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/25a37f51-9f3b-4225-a3f0-2f2441358529/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/25a37f51-9f3b-4225-a3f0-2f2441358529/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "631ea56a-41b2-4648-91a6-c370ee3229c6",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/631ea56a-41b2-4648-91a6-c370ee3229c6",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/631ea56a-41b2-4648-91a6-c370ee3229c6/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/631ea56a-41b2-4648-91a6-c370ee3229c6/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "f19a4809-072a-44a8-960c-5e9fbbe9780a",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/f19a4809-072a-44a8-960c-5e9fbbe9780a",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/f19a4809-072a-44a8-960c-5e9fbbe9780a/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/f19a4809-072a-44a8-960c-5e9fbbe9780a/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 2
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "48e4684c-f410-403f-919f-1b6089fdaa8b",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/48e4684c-f410-403f-919f-1b6089fdaa8b",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/48e4684c-f410-403f-919f-1b6089fdaa8b/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/48e4684c-f410-403f-919f-1b6089fdaa8b/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 2
        }
      }
    ],
    "Get Status": [
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "25a37f51-9f3b-4225-a3f0-2f2441358529",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/25a37f51-9f3b-4225-a3f0-2f2441358529",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/25a37f51-9f3b-4225-a3f0-2f2441358529/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/25a37f51-9f3b-4225-a3f0-2f2441358529/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 9.389496088027954
          }
        }
      },
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "631ea56a-41b2-4648-91a6-c370ee3229c6",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/631ea56a-41b2-4648-91a6-c370ee3229c6",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/631ea56a-41b2-4648-91a6-c370ee3229c6/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/631ea56a-41b2-4648-91a6-c370ee3229c6/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 9.46958303451538
          }
        }
      },
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "f19a4809-072a-44a8-960c-5e9fbbe9780a",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/f19a4809-072a-44a8-960c-5e9fbbe9780a",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/f19a4809-072a-44a8-960c-5e9fbbe9780a/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/f19a4809-072a-44a8-960c-5e9fbbe9780a/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 9.759154081344604
          }
        }
      },
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "48e4684c-f410-403f-919f-1b6089fdaa8b",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/48e4684c-f410-403f-919f-1b6089fdaa8b",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/48e4684c-f410-403f-919f-1b6089fdaa8b/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/48e4684c-f410-403f-919f-1b6089fdaa8b/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 10.22693395614624
          }
        }
      }
    ],
    "Get Images": [
      {
        "json": {
          "images": [
            {
              "url": "https://v3.fal.media/files/panda/S5OatYQEut1DnVNUPHFhw_output.png",
              "content_type": "image/png",
              "file_name": "output.png",
              "file_size": 1561883
            }
          ],
          "seed": 2725724414
        }
      },
      {
        "json": {
          "images": [
            {
              "url": "https://v3.fal.media/files/lion/jXjAV4cbUUgYv-oSrAS0Q_output.png",
              "content_type": "image/png",
              "file_name": "output.png",
              "file_size": 1419399
            }
          ],
          "seed": 2337635795
        }
      },
      {
        "json": {
          "images": [
            {
              "url": "https://v3.fal.media/files/rabbit/_wXJuqR0B9T-n_4Yxpu2D_output.png",
              "content_type": "image/png",
              "file_name": "output.png",
              "file_size": 1544969
            }
          ],
          "seed": 2063330088
        }
      },
      {
        "json": {
          "images": [
            {
              "url": "https://v3.fal.media/files/penguin/YWrh8jNgtHZRcGCby7Y40_output.png",
              "content_type": "image/png",
              "file_name": "output.png",
              "file_size": 1259244
            }
          ],
          "seed": 2195970775
        }
      }
    ],
    "Generate Videos": [
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "06881351-1daf-495c-a8c2-a96f89ab9bd6",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/06881351-1daf-495c-a8c2-a96f89ab9bd6",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/06881351-1daf-495c-a8c2-a96f89ab9bd6/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/06881351-1daf-495c-a8c2-a96f89ab9bd6/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "0f739169-5dd0-44c0-a189-236783f6b237",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/0f739169-5dd0-44c0-a189-236783f6b237",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/0f739169-5dd0-44c0-a189-236783f6b237/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/0f739169-5dd0-44c0-a189-236783f6b237/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "31ba564c-f2e0-47a7-a704-7b036cd3295f",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/31ba564c-f2e0-47a7-a704-7b036cd3295f",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/31ba564c-f2e0-47a7-a704-7b036cd3295f/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/31ba564c-f2e0-47a7-a704-7b036cd3295f/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 1
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "7774b8c5-1f2e-4c80-8967-9a6b415f5fe3",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/7774b8c5-1f2e-4c80-8967-9a6b415f5fe3",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/7774b8c5-1f2e-4c80-8967-9a6b415f5fe3/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/7774b8c5-1f2e-4c80-8967-9a6b415f5fe3/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 3
        }
      }
    ],
    "5 menit": [
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "06881351-1daf-495c-a8c2-a96f89ab9bd6",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/06881351-1daf-495c-a8c2-a96f89ab9bd6",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/06881351-1daf-495c-a8c2-a96f89ab9bd6/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/06881351-1daf-495c-a8c2-a96f89ab9bd6/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "0f739169-5dd0-44c0-a189-236783f6b237",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/0f739169-5dd0-44c0-a189-236783f6b237",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/0f739169-5dd0-44c0-a189-236783f6b237/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/0f739169-5dd0-44c0-a189-236783f6b237/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "31ba564c-f2e0-47a7-a704-7b036cd3295f",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/31ba564c-f2e0-47a7-a704-7b036cd3295f",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/31ba564c-f2e0-47a7-a704-7b036cd3295f/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/31ba564c-f2e0-47a7-a704-7b036cd3295f/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 1
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "7774b8c5-1f2e-4c80-8967-9a6b415f5fe3",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/7774b8c5-1f2e-4c80-8967-9a6b415f5fe3",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/7774b8c5-1f2e-4c80-8967-9a6b415f5fe3/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/7774b8c5-1f2e-4c80-8967-9a6b415f5fe3/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 3
        }
      }
    ],
    "Get Video Status": [
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "06881351-1daf-495c-a8c2-a96f89ab9bd6",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/06881351-1daf-495c-a8c2-a96f89ab9bd6",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/06881351-1daf-495c-a8c2-a96f89ab9bd6/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/06881351-1daf-495c-a8c2-a96f89ab9bd6/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 45.95346999168396
          }
        }
      },
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "0f739169-5dd0-44c0-a189-236783f6b237",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/0f739169-5dd0-44c0-a189-236783f6b237",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/0f739169-5dd0-44c0-a189-236783f6b237/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/0f739169-5dd0-44c0-a189-236783f6b237/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 32.67951488494873
          }
        }
      },
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "31ba564c-f2e0-47a7-a704-7b036cd3295f",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/31ba564c-f2e0-47a7-a704-7b036cd3295f",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/31ba564c-f2e0-47a7-a704-7b036cd3295f/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/31ba564c-f2e0-47a7-a704-7b036cd3295f/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 44.85346698760986
          }
        }
      },
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "7774b8c5-1f2e-4c80-8967-9a6b415f5fe3",
          "response_url": "https://queue.fal.run/fal-ai/bytedance/requests/7774b8c5-1f2e-4c80-8967-9a6b415f5fe3",
          "status_url": "https://queue.fal.run/fal-ai/bytedance/requests/7774b8c5-1f2e-4c80-8967-9a6b415f5fe3/status",
          "cancel_url": "https://queue.fal.run/fal-ai/bytedance/requests/7774b8c5-1f2e-4c80-8967-9a6b415f5fe3/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 40.598637104034424
          }
        }
      }
    ],
    "Get Videos": [
      {
        "json": {
          "video": {
            "url": "https://v3.fal.media/files/penguin/3LWvl9dy5wOnupnBZJRrj_video.mp4",
            "content_type": "video/mp4",
            "file_name": "video.mp4",
            "file_size": 6123746
          },
          "seed": 50241926
        }
      },
      {
        "json": {
          "video": {
            "url": "https://v3.fal.media/files/penguin/skQQFc_fnbhNNyIbVhjKv_video.mp4",
            "content_type": "video/mp4",
            "file_name": "video.mp4",
            "file_size": 5046121
          },
          "seed": 51688397
        }
      },
      {
        "json": {
          "video": {
            "url": "https://v3.fal.media/files/kangaroo/BqPNTtsuCpEY2xaykvvY9_video.mp4",
            "content_type": "video/mp4",
            "file_name": "video.mp4",
            "file_size": 6412105
          },
          "seed": 948993356
        }
      },
      {
        "json": {
          "video": {
            "url": "https://v3.fal.media/files/koala/mMJPma4MkRVflD4WiQ1L5_video.mp4",
            "content_type": "video/mp4",
            "file_name": "video.mp4",
            "file_size": 6527153
          },
          "seed": 985165869
        }
      }
    ],
    "Create Sounds": [
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "d120238f-49cb-49c8-8fe9-bb4ce101f251",
          "response_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/d120238f-49cb-49c8-8fe9-bb4ce101f251",
          "status_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/d120238f-49cb-49c8-8fe9-bb4ce101f251/status",
          "cancel_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/d120238f-49cb-49c8-8fe9-bb4ce101f251/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "b13aabb4-1fc1-44a3-9bf7-35716f7b5233",
          "response_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/b13aabb4-1fc1-44a3-9bf7-35716f7b5233",
          "status_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/b13aabb4-1fc1-44a3-9bf7-35716f7b5233/status",
          "cancel_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/b13aabb4-1fc1-44a3-9bf7-35716f7b5233/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "9719509a-9284-4e63-aecd-5965c69be16e",
          "response_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/9719509a-9284-4e63-aecd-5965c69be16e",
          "status_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/9719509a-9284-4e63-aecd-5965c69be16e/status",
          "cancel_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/9719509a-9284-4e63-aecd-5965c69be16e/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "81f3dd20-f1db-4ce1-893f-7c35e483f065",
          "response_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/81f3dd20-f1db-4ce1-893f-7c35e483f065",
          "status_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/81f3dd20-f1db-4ce1-893f-7c35e483f065/status",
          "cancel_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/81f3dd20-f1db-4ce1-893f-7c35e483f065/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      }
    ],
    "1.5 menit": [
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "d120238f-49cb-49c8-8fe9-bb4ce101f251",
          "response_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/d120238f-49cb-49c8-8fe9-bb4ce101f251",
          "status_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/d120238f-49cb-49c8-8fe9-bb4ce101f251/status",
          "cancel_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/d120238f-49cb-49c8-8fe9-bb4ce101f251/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "b13aabb4-1fc1-44a3-9bf7-35716f7b5233",
          "response_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/b13aabb4-1fc1-44a3-9bf7-35716f7b5233",
          "status_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/b13aabb4-1fc1-44a3-9bf7-35716f7b5233/status",
          "cancel_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/b13aabb4-1fc1-44a3-9bf7-35716f7b5233/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "9719509a-9284-4e63-aecd-5965c69be16e",
          "response_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/9719509a-9284-4e63-aecd-5965c69be16e",
          "status_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/9719509a-9284-4e63-aecd-5965c69be16e/status",
          "cancel_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/9719509a-9284-4e63-aecd-5965c69be16e/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      },
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "81f3dd20-f1db-4ce1-893f-7c35e483f065",
          "response_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/81f3dd20-f1db-4ce1-893f-7c35e483f065",
          "status_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/81f3dd20-f1db-4ce1-893f-7c35e483f065/status",
          "cancel_url": "https://queue.fal.run/fal-ai/mmaudio-v2/requests/81f3dd20-f1db-4ce1-893f-7c35e483f065/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      }
    ],
    "Get Status1": [
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "d120238f-49cb-49c8-8fe9-bb4ce101f251",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/d120238f-49cb-49c8-8fe9-bb4ce101f251",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/d120238f-49cb-49c8-8fe9-bb4ce101f251/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/d120238f-49cb-49c8-8fe9-bb4ce101f251/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 11.349990129470825
          }
        }
      },
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "b13aabb4-1fc1-44a3-9bf7-35716f7b5233",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/b13aabb4-1fc1-44a3-9bf7-35716f7b5233",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/b13aabb4-1fc1-44a3-9bf7-35716f7b5233/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/b13aabb4-1fc1-44a3-9bf7-35716f7b5233/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 10.735104084014893
          }
        }
      },
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "9719509a-9284-4e63-aecd-5965c69be16e",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/9719509a-9284-4e63-aecd-5965c69be16e",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/9719509a-9284-4e63-aecd-5965c69be16e/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/9719509a-9284-4e63-aecd-5965c69be16e/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 11.262664079666138
          }
        }
      },
      {
        "json": {
          "status": "COMPLETED",
          "request_id": "81f3dd20-f1db-4ce1-893f-7c35e483f065",
          "response_url": "https://queue.fal.run/fal-ai/imagen4/requests/81f3dd20-f1db-4ce1-893f-7c35e483f065",
          "status_url": "https://queue.fal.run/fal-ai/imagen4/requests/81f3dd20-f1db-4ce1-893f-7c35e483f065/status",
          "cancel_url": "https://queue.fal.run/fal-ai/imagen4/requests/81f3dd20-f1db-4ce1-893f-7c35e483f065/cancel",
          "logs": null,
          "metrics": {
            "inference_time": 11.283621788024902
          }
        }
      }
    ],
    "Get Sounds": [
      {
        "json": {
          "video": {
            "url": "https://v3.fal.media/files/elephant/G8MsO-166iSA_qpBS1fmy_3LWvl9dy5wOnupnBZJRrj_video.mp4",
            "content_type": "application/octet-stream",
            "file_name": "3LWvl9dy5wOnupnBZJRrj_video.mp4",
            "file_size": 1919552
          }
        }
      },
      {
        "json": {
          "video": {
            "url": "https://v3.fal.media/files/kangaroo/SH0i98XOrnQFvJbC85M0x_skQQFc_fnbhNNyIbVhjKv_video.mp4",
            "content_type": "application/octet-stream",
            "file_name": "skQQFc_fnbhNNyIbVhjKv_video.mp4",
            "file_size": 1782626
          }
        }
      },
      {
        "json": {
          "video": {
            "url": "https://v3.fal.media/files/zebra/Ji0UWZtRDSkdKkRSEkn43_BqPNTtsuCpEY2xaykvvY9_video.mp4",
            "content_type": "application/octet-stream",
            "file_name": "BqPNTtsuCpEY2xaykvvY9_video.mp4",
            "file_size": 1808304
          }
        }
      },
      {
        "json": {
          "video": {
            "url": "https://v3.fal.media/files/panda/ognO7miU6Sz5ZEfzKT1UM_mMJPma4MkRVflD4WiQ1L5_video.mp4",
            "content_type": "application/octet-stream",
            "file_name": "mMJPma4MkRVflD4WiQ1L5_video.mp4",
            "file_size": 2159857
          }
        }
      }
    ],
    "List Vid Items": [
      {
        "json": {
          "video_urls": [
            "https://v3.fal.media/files/elephant/G8MsO-166iSA_qpBS1fmy_3LWvl9dy5wOnupnBZJRrj_video.mp4",
            "https://v3.fal.media/files/kangaroo/SH0i98XOrnQFvJbC85M0x_skQQFc_fnbhNNyIbVhjKv_video.mp4",
            "https://v3.fal.media/files/zebra/Ji0UWZtRDSkdKkRSEkn43_BqPNTtsuCpEY2xaykvvY9_video.mp4",
            "https://v3.fal.media/files/panda/ognO7miU6Sz5ZEfzKT1UM_mMJPma4MkRVflD4WiQ1L5_video.mp4"
          ]
        }
      }
    ],
    "Sequence Video": [
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "d60fff78-01fb-42bc-a975-9c99b2ff1efe",
          "response_url": "https://queue.fal.run/fal-ai/ffmpeg-api/requests/d60fff78-01fb-42bc-a975-9c99b2ff1efe",
          "status_url": "https://queue.fal.run/fal-ai/ffmpeg-api/requests/d60fff78-01fb-42bc-a975-9c99b2ff1efe/status",
          "cancel_url": "https://queue.fal.run/fal-ai/ffmpeg-api/requests/d60fff78-01fb-42bc-a975-9c99b2ff1efe/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      }
    ],
    "30 detik": [
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "d60fff78-01fb-42bc-a975-9c99b2ff1efe",
          "response_url": "https://queue.fal.run/fal-ai/ffmpeg-api/requests/d60fff78-01fb-42bc-a975-9c99b2ff1efe",
          "status_url": "https://queue.fal.run/fal-ai/ffmpeg-api/requests/d60fff78-01fb-42bc-a975-9c99b2ff1efe/status",
          "cancel_url": "https://queue.fal.run/fal-ai/ffmpeg-api/requests/d60fff78-01fb-42bc-a975-9c99b2ff1efe/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      }
    ],
    "Get Final Video": [
      {
        "json": {
          "video_url": "https://v3.fal.media/files/lion/86EFagbhKEPzIHvaouP_o_output.mp4",
          "thumbnail_url": "https://v3.fal.media/files/panda/vySUnDyXyxpC_ioLS9kde_first_frame.jpg"
        }
      }
    ],
    "Title Generator": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": {
              "Title": "Mini Convenience Store Frenzy!",
              "Description": "Get ready for a wild shopping spree in these 4 hyper-realistic convenience stores! Each one is a miniature marvel!",
              "Hashtags": "#conveniencestoregoals #miniaturesetdesign #7eleven #circlek #wawa #caseys #viral #youtubeshorts #asmr #miniatureart #shoppingaddict #winterwonderland #cozy"
            }
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "Update Data": [
      {
        "json": {
          "row_number": 9,
          "Status": "Done",
          "URL": "https://v3.fal.media/files/lion/86EFagbhKEPzIHvaouP_o_output.mp4",
          "Prompt 1": "A hyperrealistic miniature building shaped like a 7-Eleven convenience store, with a curved red roof and white walls. The iconic '7-ELEVEN' marquee glows on the front, and a tiny Slurpee machine is visible in the window. Miniature people in puffer jackets and caps shop inside, while one uses the ATM near the door. A '24/7' neon sign pulses above the entrance, and shelves display tiny snacks and drinks. The store sits on a cobblestone path with a bench, and snow gently falls around it at night.",
          "Prompt 2": "A hyperrealistic tiny building shaped like a giant red 'C' with a white stripe, forming a circular convenience store. The structure features glowing yellow windows inside the 'C' shape, revealing a fully functional mini-store with tiny shelves, coffee counters, and gas pumps outside. The front entrance is a small door at the base, and the iconic Circle K logo glows brightly on the roof. Miniature people in casual clothes browse inside, grab snacks, and fuel tiny cars at the pumps. Tiny shopping carts roll along the sidewalk.",
          "Prompt 3": "A hyperrealistic miniature convenience store shaped like a giant Wawa-branded hoagie sub, with crust-like red and white striped walls and glowing cheese-slice windows. The front door is a giant sandwich pocket, flanked by tiny Wawa cow logo signs. Inside, miniature customers grab coffee cups from a counter, while stacks of hoagie boxes line the shelves. Tiny people in Wawa uniforms chat outside, and a drive-thru window shaped like a cow's face serves cars parked on a winding road that loops around the building.",
          "Prompt 4": "A hyperrealistic miniature building shaped like a giant Casey’s gas pump, reimagined as a cozy convenience store. The red and white Casey’s logo glows on the side of the structure, with tiny customers in puffer jackets and hats entering through a small front door. The gas pump nozzle at the top dispenses tiny cans of Casey’s popular ‘Candy Bar of the Month’ and energy drinks. Through the glass windows, miniature shelves line the interior, stocked with candy, chips, and coffee. A small rooftop sign reads ‘Where Friends Meet’ in Casey’s branding. Tiny people chat at a mini picnic table outside, while a Casey’s mascot (a stylized cow) is carved into the brick wall.",
          "Title": "Mini Convenience Store Frenzy!"
        }
      }
    ]
  },
  "connections": {
    "Images Done?": {
      "main": [
        [
          {
            "node": "Get Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3 Detik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Videos Done?": {
      "main": [
        [
          {
            "node": "Get Videos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "20 Detik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Videos": {
      "main": [
        [
          {
            "node": "Create Sounds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Status": {
      "main": [
        [
          {
            "node": "Videos Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Videos": {
      "main": [
        [
          {
            "node": "5 menit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Images": {
      "main": [
        [
          {
            "node": "Generate Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Images Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Images": {
      "main": [
        [
          {
            "node": "12 Detik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts": {
      "ai_outputParser": [
        [
          {
            "node": "Prompt Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Brands": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Generator": {
      "main": [
        [
          {
            "node": "Generate Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Story": {
      "main": [
        [
          {
            "node": "Set Brands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 Detik": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 Detik": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 menit": {
      "main": [
        [
          {
            "node": "Get Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20 Detik": {
      "main": [
        [
          {
            "node": "Get Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sounds": {
      "main": [
        [
          {
            "node": "1.5 menit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1.5 menit": {
      "main": [
        [
          {
            "node": "Get Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sounds": {
      "main": [
        [
          {
            "node": "List Vid Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Vid Items": {
      "main": [
        [
          {
            "node": "Sequence Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequence Video": {
      "main": [
        [
          {
            "node": "30 detik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30 detik": {
      "main": [
        [
          {
            "node": "Get Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "node": "Title Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Data": {
      "main": [
        [
          {
            "node": "Get MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MP4": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Title Generator": {
      "main": [
        [
          {
            "node": "Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Done?1": {
      "main": [
        [
          {
            "node": "Get Sounds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "20 Detik1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20 Detik1": {
      "main": [
        [
          {
            "node": "Get Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status1": {
      "main": [
        [
          {
            "node": "Audio Done?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b791fa04-e054-45bc-80f2-553ceb515247",
  "meta": {
    "instanceId": "17f3ba1298d55b7a0786fd95b1307199c20ce70b150882037b5a328de416a38b"
  },
  "id": "8vMqZbS3IfCzt06C",
  "tags": []
}