YTA1 BRANDS.json
{
  "name": "YTA1 BRANDS",
  "nodes": [
    {
      "parameters": {
        "content": "## Chat Model & Output Parser",
        "height": 860,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1328,
        0
      ],
      "id": "cba9d6b8-226b-44b8-97b0-4af4590dc32a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Step 5 - Buat Video Akhir",
        "height": 260,
        "width": 712,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        864
      ],
      "id": "ef2376bc-bbe7-49c2-a3e9-5198aa97b669",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Step 4 - Buat Audio",
        "height": 260,
        "width": 836,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        864
      ],
      "id": "0a842232-f84a-4683-954a-c549d7909ecd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Step 3 - Buat Video",
        "height": 260,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        576
      ],
      "id": "fc1ab793-9ef0-4a51-bbb5-eda8e45e0a2b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Step 2 - Buat Gambar",
        "height": 260,
        "width": 1280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "id": "9c23de05-8f4d-4378-8436-926abf67f6b1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Step 1 - Buat Prompt",
        "height": 260,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        16
      ],
      "id": "bdbcb686-1895-44e3-8df6-71c4e7ae9feb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# TITLE GENERATOR & Deskripsi\n",
        "height": 260,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1136
      ],
      "id": "8f178254-d491-4b12-9c6d-196591eb61e2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1392,
        480
      ],
      "id": "b3625f76-426d-473b-90d2-553ed61b4100",
      "name": "GPT 4.1"
    },
    {
      "parameters": {
        "content": "# YouTube\n",
        "height": 260,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        1136
      ],
      "id": "8baa6431-760c-492d-b795-70c682509e7c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9113c83-7b43-4dbe-830f-18a814c3f1f7",
              "leftValue": "={{ $input.all().every(item => item.json.status === \"COMPLETED\") }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        352
      ],
      "id": "814beeb3-4f50-47bc-b291-44ec9d9617ee",
      "name": "Images Done?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9113c83-7b43-4dbe-830f-18a814c3f1f7",
              "leftValue": "={{ $input.all().filter(item => item.json.status === \"IN_PROGRESS\" || item.json.status === \"IN_QUEUE\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        640
      ],
      "id": "97edc7c3-1ff6-4887-9a5f-9ac17c751cb9",
      "name": "Videos Done?"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        624
      ],
      "id": "6895ad48-a3a2-43d6-8eac-a3b825a6f5cf",
      "name": "Get Videos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      },
      "notes": "revised by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/bytedance/requests/{{ $('Generate Videos').item.json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        640
      ],
      "id": "ac88b5f6-24ed-4c10-b301-78f374ce447b",
      "name": "Get Video Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://queue.fal.run/fal-ai/bytedance/seedance/v1/lite/image-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ JSON.parse($('Prompt Generator').item.json.output).video_prompt }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json.images[0].url }}"
            },
            {
              "name": "resolution",
              "value": "720p"
            },
            {
              "name": "duration",
              "value": "12"
            },
            {
              "name": "aspect_ratio",
              "value": "9:16"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        640
      ],
      "id": "1d0729b2-fe17-401f-8399-6ac925d838d2",
      "name": "Generate Videos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      },
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        336
      ],
      "id": "bfb40519-a534-4350-824f-9f8168f1a480",
      "name": "Get Images"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        352
      ],
      "id": "4a9bba89-74c7-48e6-aa9b-263c0a593812",
      "name": "Get Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "aspect_ratio",
              "value": "9:16"
            },
            {
              "name": "num_images",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        352
      ],
      "id": "89f2fc02-dec0-4eb6-8eee-4cd0ddc2ae0a",
      "name": "Generate Images",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      },
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"scene\": { \"type\": \"number\" },\n      \"image_prompt\": { \"type\": \"string\" },\n      \"video_prompt\": { \"type\": \"string\" },\n      \"audio_script\": { \"type\": \"string\" }\n    },\n    \"required\": [\n      \"scene\",\n      \"image_prompt\",\n      \"video_prompt\",\n      \"audio_script\"\n    ]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1392,
        320
      ],
      "id": "a3713eeb-c962-4bc2-b40d-5c7640c4fba9",
      "name": "Prompts"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Brands[1]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        80
      ],
      "id": "f98bc806-e36c-4302-bd99-0459ab8e462a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62154da3-9df0-474a-86b0-87c687bbbb7a",
              "name": "Brands",
              "value": "=[\"{{ $json['Brand 1'] }}\",\"{{ $json['Brand 2'] }}\",\"{{ $json['Brand 3'] }}\",\"{{ $json['Brand 4'] }}\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        80
      ],
      "id": "6618abac-64c0-4f28-ae3b-262b668e6882",
      "name": "Set Brands"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a content generator.\n\nBrand: {{ $json[\"Brands[1]\"] }}\nCategory: {{ $('Get Story').item.json.Category }}\n\nCreate ONLY 1 dramatic and cinematic scene.\n\nReturn the result as VALID JSON ONLY.\nDo not add explanations.\n\nJSON format:\n{\n  \"image_prompt\": \"\",\n  \"video_prompt\": \"\",\n  \"audio_script\": \"\"\n}",
        "options": {
          "systemMessage": "=# System Prompt: Reimagine Famous Brands as Tiny, Visually Satisfying Buildings (12-Second Cinematic Edition)\n\n## Overview\nYou are a **multimodal creative AI** that transforms **famous brands into tiny, hyper-realistic, visually satisfying digital resources**. \n\nYour job is to output exactly ONE detailed scene for a 12-second high-quality video.\n\n## Creative Requirements\n1. **The Architecture**: Describe a miniature building shaped like the brand's most iconic product or logo. It must be hyper-realistic, include tiny people for scale, and have visible interior spaces through windows or doors.\n2. **The 12-Second Motion**: Since the video is 12 seconds long, the \"video_prompt\" must describe a slow, dramatic, and continuous camera movement (like a 360-degree orbit, a sweeping crane shot, or a very slow cinematic). \n3. **Visual Satisfaction**: Include dynamic elements like rising steam, flickering neon lights, or tiny characters moving in slow motion to keep the long duration engaging.\n4. **Audio**: Describe an ambient, lo-fi, or cinematic music track that fits the brand's identity perfectly.\n\n## Output Format\nYou MUST respond in VALID JSON format ONLY. Do not include any conversational text or explanations.\n\nJSON Structure:\n{\n  \"image_prompt\": \"...\",\n  \"video_prompt\": \"...\",\n  \"audio_script\": \"...\"\n}\n\n## Example Output (Brand: Nike)\n{\n  \"image_prompt\": \"A hyperrealistic tiny building shaped like a Nike Air Max sneaker, converted into a miniature sports center. The giant shoe structure has glowing mesh windows and a massive white swoosh that pulses softly. Tiny people in athletic wear are stretching on a rooftop patio made of shoebox textures.\",\n  \"video_prompt\": \"A dramatic 15-second slow-motion 360-degree orbit around the sneaker building. The camera starts low and slowly rises, revealing tiny joggers on a glowing track. Lens flares catch the golden hour sunlight as the camera passes the pulsing swoosh logo. The movement is buttery smooth, cinematic, and uninterrupted for the full 12 seconds.\",\n  \"audio_script\": \"A motivational and deep lo-fi house beat with atmospheric pads and a steady, satisfying bassline.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1136,
        80
      ],
      "id": "a800088d-6e6e-4dfd-9823-f78b5be3dc62",
      "name": "Prompt Generator"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10X7zt4UHJViGs2j_DpdirAS4lAUMtcnZ7CEFrl0DeX8",
          "mode": "list",
          "cachedResultName": "YT Short Brands",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10X7zt4UHJViGs2j_DpdirAS4lAUMtcnZ7CEFrl0DeX8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10X7zt4UHJViGs2j_DpdirAS4lAUMtcnZ7CEFrl0DeX8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        80
      ],
      "id": "fc007c42-3065-4195-8cdd-226d08f3cc8a",
      "name": "Get Story",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "L2FlEUl6BmYkWlu0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        160
      ],
      "id": "1a3711e9-8037-4ca0-8b48-c8f5dafc2a1b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zdxuw3CL3kcdp5Lg",
          "name": "OpenAi N8N1Shoot"
        }
      }
    },
    {
      "parameters": {
        "amount": 12
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        352
      ],
      "id": "c4c63914-9168-42f6-afe2-ad2e4a41c6e0",
      "name": "12 Detik",
      "webhookId": "04bcee9b-6611-4c8b-90e1-4f0c9c1f0329"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        368
      ],
      "id": "d5e9c285-bb7b-4a7b-9360-169a8478f2c4",
      "name": "3 Detik",
      "webhookId": "cf6e32c6-744b-4b42-985c-23f73394e711"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        672
      ],
      "id": "ba5f3d48-88d0-46c9-8acb-2f1d7db9c554",
      "name": "20 Detik",
      "webhookId": "36f3b567-1831-4484-afcf-2f5bd37f4704"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/mmaudio-v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $json.video.url }}"
            },
            {
              "name": "prompt",
              "value": "={{ JSON.parse($('Prompt Generator').item.json.output).audio_script }}"
            },
            {
              "name": "duration",
              "value": "={{ 12 }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        944
      ],
      "id": "21c3256c-1051-4f95-8f9b-e5177c4406d6",
      "name": "Create Sounds",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      },
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        880
      ],
      "id": "7998ac23-ea20-46b6-bee4-eaef95c5a482",
      "name": "Get Sounds",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const urls = items.map(item => item.json.video.url);\n\nreturn [{\n  json: {\n    video_urls: urls\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        944
      ],
      "id": "74feca3c-c87a-401b-82e2-e010551ca385",
      "name": "List Vid Items",
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"tracks\": [\n    {\n      \"id\": \"1\",\n      \"type\": \"video\",\n      \"keyframes\": [\n        {\n          \"url\": \"{{ $json.video_urls[0] }}\",\n          \"timestamp\": 0,\n          \"duration\": 12\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        944
      ],
      "id": "c3aa57d3-44e2-4588-a70d-2a1acca4bfda",
      "name": "Sequence Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      },
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1472,
        944
      ],
      "id": "1877529f-d0fe-41c2-80d1-8f3999cec5bd",
      "name": "30 detik",
      "webhookId": "c349beb8-dc81-417f-b3aa-6c327875017c"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        944
      ],
      "id": "0622ab76-a670-4b49-8993-0c5d86e2c53f",
      "name": "Get Final Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10X7zt4UHJViGs2j_DpdirAS4lAUMtcnZ7CEFrl0DeX8",
          "mode": "list",
          "cachedResultName": "YT Short Brands",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10X7zt4UHJViGs2j_DpdirAS4lAUMtcnZ7CEFrl0DeX8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n6MekOH-xyKlIBqWOWWBWRrX1eXtM5He3AMYuk_40Xs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Story').first().json.row_number }}",
            "Status": "Done",
            "Title": "={{ $json.message.content.Title }}",
            "Prompt 1": "=",
            "Prompt 2": "=",
            "Prompt 3": "=",
            "Prompt 4": "="
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand 1",
              "displayName": "Brand 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand 2",
              "displayName": "Brand 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand 3",
              "displayName": "Brand 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand 4",
              "displayName": "Brand 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt 1",
              "displayName": "Prompt 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt 2",
              "displayName": "Prompt 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt 3",
              "displayName": "Prompt 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt 4",
              "displayName": "Prompt 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        944,
        1232
      ],
      "id": "29a64903-8b83-4a88-b4e1-9c0b494df500",
      "name": "Update Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "L2FlEUl6BmYkWlu0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get Final Video').first().json.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        1232
      ],
      "id": "4ab6ecc8-40d9-4a80-bbbd-4bd222fe6243",
      "name": "Get MP4",
      "notes": "edited by kelaswfa.my.id\nhttps://youtube.com/@kelaswfa"
    },
    {
      "parameters": {
        "content": "# Step 6 - Simpan Video",
        "height": 260,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        1136
      ],
      "typeVersion": 1,
      "id": "9aab0e78-cdec-44ba-af65-c6ef8eca0f9a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1600,
        688
      ],
      "id": "b9b1047c-5c55-4214-9358-e9758000dcb4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "K0PUot8zsuZVS1tz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen/qwen3-32b",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Anda adalah pakar strategi konten YouTube Shorts viral. Buatlah metadata video berdasarkan deskripsi visual yang diberikan.\n\nDESKRIPSI VISUAL: {{ $json.output.image_prompt }}\n\nATURAN WAJIB:\nBerikan jawaban HANYA dalam format JSON mentah tanpa tanda ```json.\n\ntitle: Maksimal 100 karakter (termasuk hashtag), menarik, Bahasa Indonesia. Tambahkan tepat 3 hashtag relevan di akhir judul.\n\ndescription: Buat 1-2 kalimat ajakan menonton atau pertanyaan interaktif agar penonton berkomentar.\n\nhashtags: Sertakan tepat 3 hashtag yang paling relevan dengan konten FnB/viral.\n\nFORMAT OUTPUT (JSON): { \"title\": \"Judul Menarik Di Sini #tag1 #tag2 #tag3\", \"description\": \"Kalimat deskripsi yang menarik di sini.\", \"hashtags\": \"#tag1 #tag2 #tag3\" }"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        304,
        1232
      ],
      "id": "6fff3304-f6b6-4212-b893-c5ee24157568",
      "name": "Title Generator",
      "credentials": {
        "openAiApi": {
          "id": "zdxuw3CL3kcdp5Lg",
          "name": "OpenAi N8N1Shoot"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Title Generator').item.json.message.content.title }}",
        "regionCode": "ID",
        "categoryId": "15",
        "options": {
          "defaultLanguage": "id",
          "description": "={{ $('Title Generator').item.json.message.content.description }}",
          "notifySubscribers": true,
          "privacyStatus": "public",
          "publicStatsViewable": true,
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1360,
        1232
      ],
      "id": "0f828ff0-cc7a-442e-9cd1-4c12dda5f0f3",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "qm7JF2Zz0HJam0ml",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9113c83-7b43-4dbe-830f-18a814c3f1f7",
              "leftValue": "={{ $input.all().filter(item => item.json.status === \"IN_PROGRESS\" || item.json.status === \"IN_QUEUE\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        944
      ],
      "id": "56892a8e-5e70-4058-892d-eb867ddad44c",
      "name": "Audio Done?1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        1008
      ],
      "id": "80b976be-bff5-482a-a1f1-a12fbe6aa3f3",
      "name": "20 Detik1",
      "webhookId": "570adf36-1cf8-416a-8780-6aa93aa5521d"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        944
      ],
      "id": "68663ef6-6ba2-4193-b341-283b1851fada",
      "name": "Get Status1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ln017Lqxm3JfB8yf",
          "name": "Fal2"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        944
      ],
      "id": "771d9c3c-7a9b-4993-8bb2-f47a4c8ff08a",
      "name": "20 Detik2",
      "webhookId": "591468c1-6d2f-4528-b327-ab47da353973"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        640
      ],
      "id": "43698dee-320b-41f3-9b0f-6935968831d8",
      "name": "5 Menit",
      "webhookId": "46c02b26-95d2-4d05-a212-95940ab117cc"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        80
      ],
      "id": "cdacc246-e14c-4f72-b854-e6eaf857d5f6",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Images Done?": {
      "main": [
        [
          {
            "node": "Get Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3 Detik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Videos Done?": {
      "main": [
        [
          {
            "node": "Get Videos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "20 Detik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Videos": {
      "main": [
        [
          {
            "node": "Create Sounds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Status": {
      "main": [
        [
          {
            "node": "Videos Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Videos": {
      "main": [
        [
          {
            "node": "5 Menit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Images": {
      "main": [
        [
          {
            "node": "Generate Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Images Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Images": {
      "main": [
        [
          {
            "node": "12 Detik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts": {
      "ai_outputParser": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Brands": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Generator": {
      "main": [
        [
          {
            "node": "Generate Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Story": {
      "main": [
        [
          {
            "node": "Set Brands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 Detik": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 Detik": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20 Detik": {
      "main": [
        [
          {
            "node": "Get Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sounds": {
      "main": [
        [
          {
            "node": "20 Detik2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sounds": {
      "main": [
        [
          {
            "node": "List Vid Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Vid Items": {
      "main": [
        [
          {
            "node": "Sequence Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequence Video": {
      "main": [
        [
          {
            "node": "30 detik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30 detik": {
      "main": [
        [
          {
            "node": "Get Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "node": "Title Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Data": {
      "main": [
        [
          {
            "node": "Get MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MP4": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Title Generator": {
      "main": [
        [
          {
            "node": "Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Done?1": {
      "main": [
        [
          {
            "node": "Get Sounds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "20 Detik1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20 Detik1": {
      "main": [
        [
          {
            "node": "Get Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status1": {
      "main": [
        [
          {
            "node": "Audio Done?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20 Detik2": {
      "main": [
        [
          {
            "node": "Get Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Menit": {
      "main": [
        [
          {
            "node": "Get Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jakarta",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "fb316ce5-cc9d-4fb9-9cb4-466211ba452d",
  "meta": {
    "instanceId": "17f3ba1298d55b7a0786fd95b1307199c20ce70b150882037b5a328de416a38b"
  },
  "id": "QHlQEn1DcTXbxf04",
  "tags": []
}